@model Recipe.Formatter.ViewModel.RecipeParseResponseViewModel;
@{
    ViewBag.Title = @Model.Recipe?.Title;
}

<link rel="stylesheet" href="~/css/womensweekly.css" />

    @* <img class="foodImage" src="@Model.Recipe?.ImageUrl" /> *@
<div class="title">
    <span class="offset">
        @Model.Recipe?.Title?.ToUpper()
    </span>
</div>

<div class="col-container">
    <div class="col">
        <div class="print ingredients">
            @* <h3 class="sectionTitle">Ingredients</h3> *@
            <ul>
                @foreach (var ingredient in Model.Recipe?.Ingredients ?? new List<string>())
                {
                    <li>@ingredient</li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="col-container">
    <div class="col">
        <div class="print instructions">
            @* <h3 class="sectionTitle">Method</h3> *@
            <ul>
                @foreach (var instruction in Model.Recipe?.Instructions ?? new List<string>())
                {
                    <li class="indented">@instruction</li>
                }
            </ul>
        </div>
    </div>
</div>